/* Styling for Cookie Jar Website */

h1.title {
    color: orange;
}




/* Navigation bar styling */

@media only screen and (min-width: 768px) {
    .slicknav_menu {
        display: none
    }
}

@media (max-width: 767px) {
    #main-nav {
        display: none
    }
}




/* Sticky Footer Styling */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.container:after {
  content: "";
  display: block;
}
footer, .container:after {
  height: 142px; 
}
footer {
  background: orange;
}
