/* Styling for Cookie Jar Website */
$nav_link_num: 4;
$illini-orange: #FA6300;
$illini-blue: #131F33;

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

h2 {
    font: 28px Verdana, Geneva, sans-serif;
    text-align: center;
    color: $illini-orange;
    padding:20px;
}
h1.title {
    @extend h2;
    font: 32px Verdana, Geneva, sans-serif;
}

img.title_img {
    display:block;
    margin: 0 auto;
    width: 100%;
    max-width:1000px;
}

/* Navigation bar styling */
nav {
    flex: 0 0 auto;

    #main-nav {
        list-style: none;
        text-align: center;

        @media (max-width: 767px) {
            display: none;
        }

        li {
            display: inline-block;
            width: percentage(1/$nav_link_num);
            background-color: $illini-blue;
            color: $illini-orange;
            transition:.5s;
            &:hover {
                background-color: $illini-orange;
                color: $illini-blue;
            }
            a {
                display: block;
                padding: 20px 0;
                text-decoration: none;
                font: 20px arial, sans-serif;
                font-weight: bold;

                transition:.5s;

                &, &:visited, &:hover, &:active {
                    color: inherit;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .slicknav_menu {
        display: none;
    }
}

@media (max-width: 767px) {
    #main-nav {
        display: none;
    }
}

.content {
    div {
        padding: 10px 20px;
        /* Center the content horizontally */
        margin: 0 auto;
        @media only screen and (min-width: 768px) {
            width:75%;
        }
    }
}

.container {
   flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    padding: 10px;
    background: $illini-orange;
    text-align: center
}
