/* Styling for Cookie Jar Website */
$nav_link_num: 4;
$transition_time: .3s;
$illini_orange: #FA6300;
$illini_blue: #131F33;

$browser-context: 16; // Default

/* Converts pixels to em */
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

h2 {
    font: em(28) Verdana, Geneva, sans-serif;
    text-align: center;
    color: $illini_orange;
    padding:20px;
}
h1.title {
    @extend h2;
    font: em(32) Verdana, Geneva, sans-serif;
}

img.title_img {
    display:block;
    margin: 0 auto;
    width: 100%;
    max-width:1000px;
}

img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}
p {
    margin: 10px 0;
}

/* Navigation bar styling */
nav {
    flex: 0 0 auto;

    #main-nav {
        list-style: none;
        text-align: center;

        @media all and (max-width: 767px) {
            display: none;
        }

        li {
            display: inline-block;
            width: percentage(1/$nav_link_num);
            background-color: $illini_blue;
            color: $illini_orange;
            transition:.5s;
            &:hover {
                background-color: $illini_orange;
                color: $illini_blue;
            }
            a {
                display: block;
                padding: 20px 0;
                text-decoration: none;
                font: em(20) arial, sans-serif;
                font-weight: bold;

                transition: $transition_time;

                &, &:visited, &:hover, &:active {
                    color: inherit;
                }
            }
        }
    }
}
.slicknav_menu {
    background-color: $illini_blue;
    font: em(16) arial, sans-serif;
    font-weight: bold;

    @media all and (min-width: 768px) {
        display: none;
    }

    a {
        color: $illini_orange;
        transition: $transition_time;
        &:hover {
            background-color: $illini_orange;
            color: $illini_blue;
        }
    }

    .slicknav_btn {
        background-color:inherit;
    }
}

@media (max-width: 767px) {
    #main-nav {
        display: none;
    }
}

.content {
    div:not(.camera_gallery) {
        padding: 10px 20px;
        /* Center the content horizontally */
        margin: 0 auto;
        @media only screen and (min-width: 768px) {
            width:75%;
        }
    }
}

.container {
   flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    padding: 10px;
    background: $illini_orange;
    text-align: center
}
