<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <base href="https://burn123.github.io/BTW250Final/" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="delivery">Delivery</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
      <div>Created by BTW Consulting</div>
    </footer>
  </body>
</html>
